<div id="container">
    <div id="form-group">
        <label for="">Salary</label>
        <input type="text" class="form-control" (input)="takeSalary($event)" placeholder="Type Salary Here">
        <button class="btn btn-primary" (click)="computeIt()">Compute</button>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>HRA : {{hra}}</td>
        </tr>
        <tr>
            <td>DA : {{da}}</td>
        </tr>
        <tr>
            <td>TA : {{ta}}</td>
        </tr>
        <tr>
            <td>GS : {{gs}}</td>
        </tr>
        <tr>
            <td>PF : {{pf}}</td>
        </tr>
        <tr>
            <td>Tax : {{tax}}</td>
        </tr>
        <tr>
            <td [class]="color">NS : {{ns}}</td>
        </tr>
    </table>
</div>