<table class="table table-bordered">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Url</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'red':item.isDeleted}" *ngFor="let item of list;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><img src="{{item.url}}" /></td>
            <td><img class="icons" (click)="toggleDelete(item)" src="./assets/delete.png">&nbsp;
                <img class="icons" src="./assets/edit.png">
            </td>
        </tr>
    </tbody>
</table>